
html {
  background-color: 	#d5eed2;
  font-family: 'Roboto', sans-serif;
}

.top-div {
  position: relative;
  border: 1px solid black;
  height: 1000px;
}

.icons {
  position: absolute;
  margin: 1rem;
  margin-left: 2rem;
}

#icon-image1 {
  height: 50px;
  margin-right: 1rem;
}

#icon-image2 {
  height: 46.5px;
  margin-right: 1rem;
  padding-bottom: 2px;
  border-radius: 10%;
}

.navlist, li{
  margin-right: 2rem;
  display: inline-block;
  float: right;
  font-size: 1.5rem;
}

h1 {
  width: 70%;
  line-height: 1.5;
  text-align: center;
  font-size: 5rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 5rem;
}

#my-pic {
  float: left;
  height: 300px;
  width: 250px;
  border: 1px solid black;
}

.logo-image {
  height: 100px;
  /* width: 100px; */
  margin-left: 2rem;
  margin-right: 2rem;
}

.bottom-div {
  text-align: center;
  position: relative;
  border: 1px solid black;
  height: 650px;
  padding: 4rem;
}

.logos-div {
  position: absolute;
  width: 90%;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  margin-bottom: 2rem;
}

.examples-div {
  text-align: center;
}

.work-container {
  position: relative;
  display: inline-block;
  margin: 0 2rem 0 2rem;
  height: 400px;
  width: 250px;
  border: 1px solid black;
  border-radius: 2%;
}

.work-example {
  position: relative;
  height: 75%;
}

.source-code-link {
  position: relative;
  width: 100%;
}

.source-code-icon {
  height: 28px;
  margin-top: 1rem;
}

h4 {
  margin: 1rem;
}


footer {
  text-align: center;
  padding: 1rem;
}
